extends layout

block title
    title #{channel.name} / MOVIER

block usermenu
    if state && state.home
        a.menu-item(href!=state.home)
            img(src="/images/icons/home.png")
            span My Channel

        a.menu-item(href='/auth/out')
            img(src="/images/icons/logout.png")
            span Log Out

block content
    -
        let numOfFilms = 0;
        channel.lists.map(x => numOfFilms += x.films.length);
        const numOfLists = channel.lists.length;
        const numOfFollowers = channel.followers.length;

        
    #left.custom-sized-left-user
        #back(style=`background-image: url('${channel.image}')`)

        #user
            img(src=channel.image)
            #name= channel.name
            #desc
            #stat
                .stat-item
                    .num= numOfFilms
                    .stat-desc films
                .stat-item
                    .num= numOfLists
                    .stat-desc lists
                .stat-item
                    .num= numOfFollowers
                    .stat-desc followers

            #edit-button.button
                if state && state.owner
                    span.button-title(id=channel._id) Edit
                else
                    span.button-title(id=channel._id) Follow

    #right
        #user-wrapper
            .lists-block
                h1.block-title My lists
                .list-items
                    each list in channel.lists
                        a.list-item(href='/list/' + list.id)
                            img(src=list.cover)
                            .list-title(title=list.name)=list.name
            .lists-block
                h1.block-title Saved lists
                .list-items
                    each list in channel.saved_lists
                        a.list-item(href='/list/' + list.id)
                            img(src=list.cover)
                            .list-title(title=list.name)=list.name
