extends layout

block content
    //.g-signin2(data-onsuccess='onSignIn')
    .flex-container
        #left
            .poster
                img(src=poster, width='100%')
            .controlls
                a
                    img(src='/images/icons/favtrue.png')
                a
                    img(src='/images/icons/towatchfalse.png')
                a
                    img(src='/images/icons/watchedtrue.png')
        #right
            .wrapper
                .top-bar
                    form(onsubmit='search()')
                        input.search(type='text' placeholder='Поиск')
                        input(type='submit', hidden, onclick='search()')
                    .menu-icon
                        a(onclick='openNav()')
                            img(src='/images/icons/menu.png', height='60px')
                .info
                    .film-title
                        h1= title
                    .film-sub-title
                        h2= title_original
                    p <b>IMDB</b> #{rating_imdb} <b>KP</b> #{rating_kp}
                    p <b>Год</b> #{year}
                    p <b>Страна</b> #{country}
                    p <b>Жанр</b> #{genre}
                    p <b>Режиссер</b>
                        each person in director
                            - var name = person.name_person_ru
                            | &nbsp;#{name}
                    p.description!= description

    #menu
        .menu-close-icon
            a(onclick='closeNav()')
                img(src='/images/icons/close.png', height='60px')
        #menu-content
            #user-img
            #user-name
            #log-out
            #log-in
                a.g-signin2(data-onsuccess='onSignIn', href='#') Войти
            a.menu-item(href='/') Главная
            .logo
                h1 MOVIER
