extends layout

mixin getPPList(arr, title)
    .pp-row
        .pp-title!= title
        .pp-list(id!=attributes.id)
            each person, index in arr
                if index < 5 && index != arr.length-1
                    | #{person},&nbsp;
                else if index==5 || (index==arr.length-1 && index<5)
                    | #{person}

block content
    script
        include ../public/javascripts/connect.js
        include ../public/javascripts/filmcontroller.js
    script.
        var channel = !{JSON.stringify(authch)};
        var filmid = !{film.id};
    .flex-container
        #left
            #menu-open
                img(src='/images/icons/menu.png')
            #image-background(style="background-image: url('" + film.poster + "')")
            #poster
                #poster-caption= film.title
                img(src=film.poster)
        #right
            #film-info
                #rate
                    span#kp #{film.rating_kp}
                    | &nbsp;/ 10
                h1#film-title
                    |#{film.title} / #{film.title_original}
                #short-info
                    | #{film.year} | #{film.genre}

                p.description!= film.description
                +getPPList(film.directors, 'Режиссер')(id='directors')
                +getPPList(film.writers, 'Сценарий')(id='writers')
                +getPPList(film.actors, 'В ролях')(id='actors')

            if authch
                .list-group
                    each list in authch._lists
                        .list-button(id!=list._id, onclick='changeState(this.id)')
                            span.button-title!= list._name
                    form(action='/list', method='post')
                        input(type='text', name='filmid', value=film.id, hidden)
                        input(type='text', name='name', placeholder='НОВАЯ ПОДБОРКА')
                        input(type='submit', hidden)
