extends layout

mixin getPPList(arr, title)
    .pp-row
        if arr
            .pp-title!= title
            .pp-list(id!=attributes.id)
                each person, index in arr
                    if index < 5 && index != arr.length-1
                        | #{person},&nbsp;
                    else if index==5 || (index==arr.length-1 && index<5)
                        | #{person}

block title
    title #{film.title} / MOVIER
block content
    script
        include ../public/javascripts/connect.js
        include ../public/javascripts/filmcontroller.js
    script.
        window.onload = function(){
            f_updateLB(!{film.id});
        }
    if authch
        script.
            var channel = !{JSON.stringify(authch)};

    #left
        #back(style="background-image: url('" + film.poster + "')")
        #poster
            #poster-caption= film.title
            img(src=film.poster)
    #right
        #film-info
            #rate
                span#kp #{film.rating}
                | &nbsp;/ 10
            h1#film-title
                |#{film.title}
            #short-info
                | #{film.year} | #{film.genre}

            p.description!= film.description
            +getPPList([film.director], 'Director')(id='directors')
            +getPPList(film.writers, 'Writers')(id='writers')
            +getPPList(film.stars, 'Stars')(id='actors')

        if authch
            .list-group
                each list in authch._lists
                    .list-button(id!=list._id, onclick='f_clickedLB(this.id, ' + film.id + ')')
                        span.button-title!= list._name
                form(action='/list', method='post')
                    input(type='text', name='filmid', value=film.id, hidden)
                    input(type='text', name='name', placeholder='НОВАЯ ПОДБОРКА')
                    input(type='submit', hidden)
