extends layout

mixin getPPList(arr, title)
    .pp-row
        .pp-title!= title
        .pp-list(id!=attributes.id)
            each person, index in arr
                if index < 5 && index != arr.length-1
                    | #{person},&nbsp;
                else if index==5 || (index==arr.length-1 && index<5)
                    | #{person}

mixin getListGroupItem(icon, title)
    .list-button(id!=attributes.id)
        img(src=icon)
        span.button-title!= title

block content
    .flex-container
        #left
            #menu-open
                img(src='/images/icons/menu.png')
            #image-background(style="background-image: url('" + poster + "')")
            #poster
                #poster-caption= title
                img(src=poster)
        #right
            #film-info
                #rate
                    span#kp #{rating_kp}
                    | &nbsp;/ 10
                h1#film-title
                    |#{title} / #{title_original}
                #short-info
                    | #{year} | #{genre}

                p.description!= description
                +getPPList(directors, 'Режиссер')(id='directors')
                +getPPList(writers, 'Сценарий')(id='writers')
                +getPPList(actors, 'В ролях')(id='actors')

            .list-group
                +getListGroupItem('/images/icons/heart.png', 'ЛЮБИМЫЕ')(id='jcdknjc')
                +getListGroupItem('/images/icons/eye.png', 'ПРОСМОТРЕННЫЕ')(id='jcd523jjc')
                +getListGroupItem('/images/icons/list.png', 'БУДУ СМОТРЕТЬ')(id='78t61728jcdknjc')
                +getListGroupItem('/images/icons/sharp.png', 'ДРУГОЙ СПИСОК')
