extends layout

block content
  h1 #{title_rus} / #{title_original}
  img(src=poster)
  p IMDB #{rating_imdb} KP #{rating_kp}
  p Год #{year}
  p Страна #{country}
  p Жанр #{genre}
  p Режиссер
  each person in director
    - var name = person.name_person_ru
    p= name
  h2 Описание
  p!= description
