extends layout

mixin peopleList(list, title)
    .pp-row
        .pp-title!= title
        .pp-list!= list

block title
    title #{film.title} / MOVIER
block content
    script
        include ../public/javascripts/connect.js
        include ../public/javascripts/filmcontroller.js

    #left
        #back(style="background-image: url('" + film.poster + "')")
        #poster
            #poster-caption= film.title
            img(src=film.poster)
    #right
        #film-info
            #rate
                span#kp!= film.rating
            h1#film-title
                |#{film.title}
            #short-info
                | #{film.year} | #{film.genre}

            p.description!= film.description
            +peopleList([film.director], 'Director')(id='directors')
            +peopleList(film.writers, 'Writers')(id='writers')
            +peopleList(film.stars, 'Stars')(id='actors')

        if state && state.lists
            .list-group
                each list in state.lists
                    - 
                        var added = state.inLists.includes(list.id)
                    if added
                        .list-button(onclick=`f_remove(this, '${film.id}', '${list.id}')`, style='opacity: 0.8')
                            span.button-title!= list.name
                    else
                        .list-button(onclick=`f_add(this, '${film.id}', '${list.id}')`, style='opacity: 0.5')
                            span.button-title!= list.name
                form(action='/list', method='post')
                    input(type='text', name='filmid', value=film.id, hidden)
                    input(type='text', name='name', placeholder='НОВАЯ ПОДБОРКА')
                    input(type='submit', hidden)
