extends layout

mixin getPPList(arr, title)
    .pp-row
        .pp-title!= title
        .pp-list(id!=attributes.id)
            each person, index in arr
                if index < 5 && index != arr.length-1
                    | #{person},&nbsp;
                else if index==5 || (index==arr.length-1 && index<5)
                    | #{person}

mixin getListGroupItem(icon, title)
    .list-button(onclick='changeState(#{attributes.id})')
        img(src=icon)
        span.button-title!= title

block content
    script
        include ../public/javascripts/filmcontroller.js
    script.
        var channel = !{JSON.stringify(channel)}
    .flex-container
        #left
            #menu-open
                img(src='/images/icons/menu.png')
            #image-background(style="background-image: url('" + film.poster + "')")
            #poster
                #poster-caption= film.title
                img(src=film.poster)
        #right
            #film-info
                span#film-id(hidden)= film.id
                #rate
                    span#kp #{film.rating_kp}
                    | &nbsp;/ 10
                h1#film-title
                    |#{film.title} / #{film.title_original}
                #short-info
                    | #{film.year} | #{film.genre}

                p.description!= film.description
                +getPPList(film.directors, 'Режиссер')(id='directors')
                +getPPList(film.writers, 'Сценарий')(id='writers')
                +getPPList(film.actors, 'В ролях')(id='actors')

            if channel
                .list-group
                    each list in channel._lists
                        if list._name == 'Любимые'
                            +getListGroupItem('/images/icons/heart.png', list._name)(id=list._id)
                        else if list._name == 'Просмотренные'
                            +getListGroupItem('/images/icons/eye.png', list._name)(id=list._id)
                        else if list._name == 'Буду смотреть'
                            +getListGroupItem('/images/icons/list.png', list._name)(id=list._id)
                    +getListGroupItem('/images/icons/sharp.png', 'ДРУГОЙ СПИСОК')(id='more-lists')
