extends layout

mixin peopleList(list, title)
  .pp-row
    .pp-title!= title
    .pp-list!= list

block title
  title #{list.name} / MOVIER

block styles
  link(href='/stylesheets/css/list.css', rel='stylesheet')

block usermenu
  if state && state.home
    a.menu-item(href!=state.home)
      img(src='/images/icons/home.png')
      span My Channel
    a.menu-item(href='/auth/out')
      img(src='/images/icons/logout.png')
      span Log Out

block content
  script(src='/javascripts/connect.js' async)
  script(src='/javascripts/listcontroller.js' async)
  
  #edit-overflow
    script.
      function closeEdit() {
        document.getElementById('edit-overflow').style.visibility = 'hidden';
      }
    .edit-close(onclick='closeEdit()')
        img(src='/images/icons/close.png')
    form(action=`/list/${list.id}/update`, enctype='multipart/form-data', method='post')
      input(type='text', name='name', placeholder=`NAME: ${list.name}`)
      br
      input(type='submit', value='SAVE')
      br
    form(action=`/list/${list.id}/delete`, enctype='multipart/form-data', method='post')
      input(type='submit', value='DELETE')

  .left
    .back(style=`background-image: url('${list.cover}')`)
    .front
      .list-info
        .list-title= list.name
        .list-owner
          a(href=`/channel/${list.owner.id}`)= list.owner.name
      .slider
        each film in list.films
          a.list-item(href=`/film/${film.id}`)
            img(src=film.poster)
            .item-title= film.title
      if state 
        if state.owner
          script.
            function openEdit() {
              document.getElementById('edit-overflow').style.visibility = 'visible';
            }
          button.edit-button(onclick='openEdit()')
            span.button-title EDIT
        else
          if state.saved
            button.save-button(onclick=`l_unsave(this, '${list.id}')`)
              span.button-title UNSAVE
          else
            button.save-button(onclick=`l_save(this, '${list.id}')`)
              span.button-title SAVE
      else
        button.save-button(onclick="location.href='/'")
          span.button-title SAVE
          
  .right
    .film-info
      .rate
        span#kp= list.films[0].rating
      h1.film-title
        | #{list.films[0].title}
      .short-info
        | #{list.films[0].year} | #{list.films[0].genre}

      p.description!= list.films[0].description
      +peopleList([list.films[0].director], 'Director')(id='directors')
      +peopleList(list.films[0].writers, 'Writers')(id='writers')
      +peopleList(list.films[0].stars, 'Stars')(id='actors')
