extends layout

mixin getPPList(arr, title)
    .pp-row
        .pp-title!= title
        .pp-list(id!=attributes.id)
            each person, index in arr
                if index < 5 && index != arr.length-1
                    | #{person},&nbsp;
                else if index==5 || (index==arr.length-1 && index<5)
                    | #{person}

mixin getListGroupItem(icon, title)
    .list-button(id!=attributes.id, onclick='changeState(this.id)')
        img(src=icon)
        span.button-title!= title

block content
    .flex-container
        #left
            #menu-open
                img(src='/images/icons/menu.png')
            #image-background(style="background-image: url('" + _films[0]._poster + "')")
            #list
                #list-title= _name
                #list-owner
                    a(href= '/channel/' + _owner._id)= _owner._name
                #slider
                    each film in _films
                        a.list-item(href='/film/' + film._id)
                            img(src=film._poster)
                            .item-title= film._title
                if channel
                    .save-button(id!= _id)
                        span.button-title СОХРАНИТЬ

        #right
            #film-info
                #rate
                    span#kp= _films[0]._rating_kp
                    | &nbsp;/ 10
                h1#film-title
                    |#{_films[0]._title} / #{_films[0]._title_original}
                #short-info
                    | #{_films[0]._year} | #{_films[0]._genre}

                p.description!= _films[0]._description
                +getPPList(_films[0]._directors, 'Режиссер')(id='directors')
                +getPPList(_films[0]._writers, 'Сценарий')(id='writers')
                +getPPList(_films[0]._actors, 'В ролях')(id='actors')

            if channel
                .list-group
                    each list in channel._lists
                        if list._name == 'Любимые'
                            +getListGroupItem('/images/icons/heart.png', list._name)(id=list._id)
                        else if list._name == 'Просмотренные'
                            +getListGroupItem('/images/icons/eye.png', list._name)(id=list._id)
                        else if list._name == 'Буду смотреть'
                            +getListGroupItem('/images/icons/list.png', list._name)(id=list._id)
                    +getListGroupItem('/images/icons/sharp.png', 'ДРУГОЙ СПИСОК')(id='more-lists')
