extends layout

block content
    div(class='content')
        div(class='poster col')
            img(src=image, width=300)
        div(class='info col')
            h1= name
            p Любимые фильмы
            each film in films.favs
                - var title = film._title
                - var year = film._year
                - var country = film._country
                p #{title} #{year} #{country}
            p Буду смотреть
            each film in films.watchlist
                - var title = film._title
                - var year = film._year
                - var country = film._country
                p #{title} #{year} #{country}
            p Посмотрел
            each film in films.watched
                - var title = film._title
                - var year = film._year
                - var country = film._country
                p #{title} #{year} #{country}
